body {
    text-align: center;
    padding: 5% 20%;
}

.gift {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

Button {
    margin: 10px;
}